@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  position: fixed;
  left: 0%;
  width: 15%; 
}

.menu {
  display: flex;
  align-items: flex-start;
  height: 100vh;
}

.menu .main-menu {
  margin: auto;
  width: 15vw;
  height: 100vh;
  background-color: #303952;
  position: sticky;
}

.menu .main-menu .logo {
  display: flex;
  padding: 10px;
}

.menu .main-menu .logo img {
  width: 4vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 43%;
}

.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}

.submenu-active .menu-items {
  transform: translateX(-56%);
}

.menu-title {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 0px;
  display: block;
  margin-left: 0px;
  margin-right: 20px;
}

.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
}

.item i {
  margin-right: 0.5vw;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.item a:hover,
.submenu-item:hover {
  background: #6274a7;
  color: white;
  text-decoration: transparent;
  border: none;
  box-shadow: none;
  width: 90%;
}

.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.show-submenu ~ .submenu {
  display: block;
}

.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}

.submenu .menu-title i {
  margin-right: 10px;
}

.content {
  flex: 1;
  padding: 20px; /* Adjust padding as needed */
}

.container{
  flex: 1;
  padding: 20px;
  margin-left: 14%;
  margin-right: 0%;
}


.card {
  display: flex;
  width: 15vw;
  height: 10.2vh;
  border: 1px solid #e2e2e2;
  border-radius: 15px; /* Adjust the value to change the roundness */
  margin-bottom: 20px;
  box-shadow: 0 11px 25px rgba(32, 6, 6, 0.2);
}

.card-body {
  display:flex;
  justify-content: space-between; /* Align items to the right side */
  flex-direction: row; /* Ensure elements are aligned horizontally */
}

.card-body .card-title {
  font-size: 14px;
  font-weight: 700;
}

.card-body h2 {
  font-size: 30px;
  font-weight: bold;
  color: #000000; /* Adjust the color as needed */
  margin-top: 25px; /* Remove the default margin */
  text-align: right; /* Align the text to the right */
}


.cards {
  border: 1px solid #888888;
  border-radius: 15px;
  margin-bottom: 1vw;
}

.cards-body {

  height: 100%;
  padding: 20px;
}

.cards-title {
  font-size: 14px;
  font-weight: 700;
}

.cards-text {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}



/* Responsive Styles */
/* Adjustments for laptop screens */
@media screen and (max-width: 1200px) {
  .menu .main-menu {
    width: 20vw;
  }
}

/* Responsive Styles */
@media screen and (max-width: 992px) {
  .menu .main-menu {
    width: 25vw;
  }
}

@media screen and (max-width: 768px) {
  .menu .main-menu {
    width: 30vw;
  }
}

@media screen and (max-width: 576px) {
  .menu .main-menu {
    width: 40vw;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  .menu .main-menu {
    width: 35vw;
  }
}