@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  left: 0%;
  width: 15%;
  height: 100vh; /* Maximize height to viewport height */
}

.menu {
  display: flex;
  align-items: flex-start;
  height: 100%; /* Ensure menu fills the sidebar height */
}

.menu .main-menu {
  margin: auto;
  width: 15vw;
  height: 100%;
  background-color: #303952;
  position: sticky;
}

.menu .main-menu .logo {
  display: flex;
  padding: 10px;
}

.menu .main-menu .logo img {
  width: 4vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 43%;
}

.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}

.submenu-active .menu-items {
  transform: translateX(-56%);
}

.menu-title {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 0px;
  display: block;
  margin-left: 0px;
  margin-right: 20px;
}

.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
}

.item i {
  margin-right: 0.5vw;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.item a:hover,
.submenu-item:hover {
  background: #6274a7;
  color: white;
  text-decoration: transparent;
  border: none;
  box-shadow: none;
  width: 90%;
}

.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.show-submenu ~ .submenu {
  display: block;
}

.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}

.submenu .menu-title i {
  margin-right: 10px;
}

.content {
  padding: 60px; /* Adjust padding as needed */
  margin-left: 15%; /* Ensure content starts after the sidebar */
}

.nav-tabs {
  padding: 2%;
  margin-left: 0vw;
}

.tab-content {
  padding: 2%;
  margin-left: -3vw;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  .menu .main-menu {
    width: 18vw;
  }

  .content {
    padding: 50px;
    margin-left: 18vw;
  }
}

@media screen and (max-width: 992px) {
  .menu .main-menu {
    width: 25vw;
  }

  .content {
    padding: 40px;
    margin-left: 25vw;
  }
}

@media screen and (max-width: 768px) {
  .menu .main-menu {
    width: 30vw;
  }

  .content {
    padding: 30px;
    margin-left: 30vw;
  }
}

@media screen and (max-width: 576px) {
  .menu .main-menu {
    width: 40vw;
  }

  .content {
    padding: 20px;
    margin-left: 40vw;
  }
}
