
/* Adjust the z-index of the modal */
.modal {
    position: fixed;
    top: 6vh;
    z-index: 4;/* Ensure this value is higher than the modal backdrop */
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.2s linear;
}

/* Position the modal above the dimmed background */
.modal-backdrop {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(54, 14, 163, 0.2);
    display: none;
    z-index: 3;
}



/* Adjust the z-index of the modal */
.modal {
    position: fixed;
    top: 6vh;
    z-index: 4;/* Ensure this value is higher than the modal backdrop */
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.2s linear;
}

/* Position the modal above the dimmed background */
.modal-backdrop {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(54, 14, 163, 0.2);
    display: none;
    z-index: 3;
}

