body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    width: 800px;
    margin: 40px auto 0 auto;
    box-shadow: 0 6px 16px rgba(98, 100, 108, 0.5);
}

.left {
    width: 200px;
    background-color: #2d8ac4;
    padding: 20px 10px;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 15px;
    font-size: 14px;
    letter-spacing: 0.5px;
}

a {
    text-decoration: none;
    color: #fff;
}

.right {
    width: 550px;
}

h2 {
    color: #2d8ac4;
    letter-spacing: 1px;
    margin-left: 15px;
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 1.5rem;
}

.field {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #2d8ac4;
}

input {
    padding: 8px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #2d8ac4;
    border-radius: 4px;
    font-size: 0.9rem;
    color: #2d8ac4;
}

.bottom {
    margin-left: 200px;
}

button {
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.button_left {
    margin-right: 5px;
    background-color: #2d8ac4;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.button_right {
    margin-left: 5px;
    background-color: #eaeaea;
    font-size: 14px;
    letter-spacing: 0.3px;
    font-weight: 500;
    color: #7376a3;
    opacity: 0.8;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: 0;
}

.container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.settings-box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Adjusted width */
    max-width: 400px; /* Adjusted max-width */
}
