
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 260px;
  background: #fff;
  padding: 15px;
  z-index: 10;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1); /* Added box-shadow */
}

.SDOlogo {
  position: relative;
  left: 75px;
  font-size: 30px;
  padding-bottom: 0px;
}

.logo {
  font-size: 25px;
  padding: 0 15px;
}

.sidebar a {
  color: #11101d;
  text-decoration: none;
}

.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 0px;
  overflow-y: scroll;
}

.menu-content::-webkit-scrollbar {
  display: none;
}

.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}

.submenu-active .menu-items {
  transform: translateX(-56%);
}

.menu-title {
  color: #11101d;
  font-size: 15px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 0px;
}

.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}

.item i {
  margin-right: 9px;
  font-size: 20px;
}

.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: #2d8ac4;
  color: white;
  text-decoration: transparent;
}

.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #11101d;
  cursor: pointer;
}

.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 26px);
  height: calc(100% + 100vh);
  background: #11101d;
  display: none;
}

.show-submenu ~ .submenu {
  display: block;
}

.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}

.submenu .menu-title i {
  margin-right: 10px;
}

.navbar,
.main {
  left: 260px;
  width: calc(100% - 260px);
  z-index: -1;
}

.navbar {
  position: fixed;
  height: 6.82vh; /* Adjust the height as needed */
  width: 190vh; /* Match the width of the sidebar */
  padding: 5px 10px;
  background: #2d8ac4;
  z-index: 0;
}

.navbar #sidebar-close {
  cursor: pointer;
}

.main h1 {
  color: #11101d;
  font-size: 40px;
  text-align: center;
}

.main {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background: #e7f2fd;
}

.content {
  padding: 6px;
  margin-left: 15%;
}
