@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  position: fixed;
  left: 0%;
  width: 15%; 
}

.notification {
  position: absolute;
  top: 28vh;
  right: 2.5vw;
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1;
  padding: 20px; /* Adjust padding as needed */
}

.button {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: .3s;
  border: 1px solid #747474;;
  background-color: #ffffff;
}

.bell {
  width: 16px;
  fill: #747474;
}

.button:hover .bell {
  animation: bellRing 0.9s both;
}

/* bell ringing animation keyframes*/
@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

.button:active {
  transform: scale(0.8);
}

.notification-container {
  display: none;
  width: 500px;
  height: 200px;
  position: fixed;
  left: 43vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  z-index: 2;
}
.notification-header {
  background-color: #303952;
  color: white;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.notification-header h2 {
  margin: 0;
  font-size: 22px;
}
.notification-item {
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.notification-item .notification-details .time {
  color: gray;
}
.notification-footer {
  padding: 10px 20px;
  text-align: center;
  background-color: #e9ecef;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.notification-footer a {
  margin: 0 10px;
  color: #007bff;
  text-decoration: none;
}
.notification-footer a:hover {
  text-decoration: underline;
}


.container{
  flex: 1;
  padding: 20px;
  margin-left: 14%;
  margin-right: 0%;
}


.card {
  display: flex;
  width: 15vw;
  height: 10.2vh;
  border: 1px solid #e2e2e2;
  border-radius: 15px; /* Adjust the value to change the roundness */
  margin-bottom: 20px;
  box-shadow: 0 11px 25px rgba(32, 6, 6, 0.2);
}

.card-body {
  display:flex;
  justify-content: space-between; /* Align items to the right side */
  flex-direction: row; /* Ensure elements are aligned horizontally */
}

.card-body .card-title {
  font-size: 14px;
  font-weight: 700;
}

.card-body h2 {
  font-size: 30px;
  font-weight: bold;
  color: #000000; /* Adjust the color as needed */
  margin-top: 25px; /* Remove the default margin */
  text-align: right; /* Align the text to the right */
}


.cards {
  border: 1px solid #888888;
  border-radius: 15px;
  margin-bottom: 1vw;
}

.cards-body {

  height: 100%;
  padding: 20px;
}

.cards-title {
  font-size: 14px;
  font-weight: 700;
}

.cards-text {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}


@keyframes circleAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes iconAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.circle {
  width: 170px;
  height: 170px;
  border: 6px solid #4bb71b;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 8vh;
  margin-left: 4.75vw;
  animation: circleAnimation 0.4s ease-in;
}

.check-icon, .red-icon, .exclamation-icon {
  font-size: 60px;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out;
}

.check-icon {
  color: #4bb71b;
}

.red-icon {
  color: red;
}

.exclamation-icon {
  color: #ffbb00;
}

.circle.red-mark {
  border-color: red;
}

.circle.yellow-mark {
  border-color: #ffbb00;
}

h3 {
  font-size: 14px;
  margin-left: 34vw;
  margin-bottom: 0;
}
h3 {
  font-size: 14px;
  margin-left: 34vw;
  margin-bottom: 0;
}

h5 {
  font-size: 14px;
  margin-left: 27vw;
  margin-bottom: 0;
}

/* Responsive Styles */
/* Adjustments for laptop screens */
@media screen and (max-width: 1200px) {
  .menu .main-menu {
    width: 20vw;
  }
}

/* Responsive Styles */
@media screen and (max-width: 992px) {
  .menu .main-menu {
    width: 25vw;
  }
}

@media screen and (max-width: 768px) {
  .menu .main-menu {
    width: 30vw;
  }
}

@media screen and (max-width: 576px) {
  .menu .main-menu {
    width: 40vw;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  .menu .main-menu {
    width: 35vw;
  }
}