

body {
    height: 100vh;
    background-image: linear-gradient(#fffcf9, #1f4699);
    display: grid;
    place-content: center;
    font-family: 'Poppins', sans-serif;
}

.container {
    position:relative;
    width: 60vh;
    height: 35vh;
    background-color: rgb(230, 230, 230);
    box-shadow: 2.57vh 3.09vh 5.67vh #5557;
    border-radius: 13px;
    overflow: hidden;
}
.form-container{
    position: relative;
    width: 55vh;
    height: 60vh;
    padding: 0vh 4vh;
}